body {
  background-color: #F5D281;
}

.flavor {
  font-size: x-large;
  font-family: 'Slabo 27px', serif;
  text-align: center;
}

.info-list {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
}

#stream {
  display: flex;
  justify-content: flex-start;
  padding-right: 0;
}

.card-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  border: dotted 1px green;
}

.card-search {
  align-self: center;
  border: dotted 1px blue;
}

.card-display {
  display: flex;
  flex-direction: column;
  border: dotted 1px red;
}

#card-img {
  align-self: center;
  border: dotted 1px green;
}

.nav-bar-top {
  display: flex;
  justify-content: space-around;
  border: dotted 2px blue;
}

