<nav class="nav-bar-top">
  <form class="chanel-form" action="/" method="POST">
    <label for="channel">Pick a streamer: </label>
    <input type="text" name="channel">
    <button type="submit">Change the channel</button>
  </form>
</nav>

<div class="container">
  <div id="stream">
    <script type="text/javascript">
      var options = {
        width: <%= options[:width] %>,
        height: <%= options[:height] %>,
        channel: "<%= options[:channel] %>"
      };
      var player = new Twitch.Player("stream", options);
      player.setVolume(0.5);
    </script>
  </div>

  <div class="card-container">
    <form class="card-search" action="/card" method="GET">
    <label for="card">Which card do you want to view?</label>
      <input type='text' name='card'>
      <button type='submit'>Get Details</button>
    </form>
    <div class="card-display" style="display:none">
      <%= erb :show_card %>
    </div>
  </div>
</div>
